<template>
  <div class="about">
    {{ getInfo }}<br>
    <span>Title</span>
    <input v-model="title" type="text"/>
    <span>Deskripsi</span>
    <input v-model="description" type="text"/>
    <button @click="save" v-if="!buttonEdit">Simpan</button>
    <button @click="update" v-else>Ubah</button>
    <hr>
    <table style="padding-left: 40%;">
      <thead>
        <tr>
          <th>No</th>
          <th>Title</th>
          <th>Deskripsi</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(list, i) in getAll" :key="i">
          <td>{{ i+1 }}</td>
          <td>{{ list.title }}</td>
          <td>{{ list.description }}</td>
          <td> <a href="javascript:void(1);" @click="edit(i)"> Ubah </a>
               || <a href="javascript:void(1);" @click="destroy(i)"> Hapus </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      index: null,
      title: '',
      description: '',
      buttonEdit: false,
    };
  },
  methods: {

    ...mapActions({
      saveProduct: 'product/addProduct',
      updateProduct: 'product/updateProduct',
      removeProduct: 'product/deleteProduct',
    }),
    save() {
      const payload = {
        title: this.title,
        description: this.description,
      };
      this.saveProduct(payload);
      this.title = '';
      this.description = '';
    },
    edit(index) {
      const productDetail = this.$store.getters['product/getProductByIndex'](index);
      this.title = productDetail.title;
      this.description = productDetail.description;
      this.index = index;
      this.buttonEdit = true;
    },
    update() {
      const payload = {
        index: this.index,
        title: this.title,
        description: this.description,
      };
      this.updateProduct(payload);
      this.title = '';
      this.description = '';
      this.buttonEdit = false;
    },
    destroy(index) {
      // eslint-disable-next-line
      let confirmation = window.confirm('Hapus produk ini?');
      if (confirmation) {
        this.removeProduct(index);
      }
    },
  },
  computed: {
    ...mapGetters([
      'getInfo',
    ]),
    ...mapGetters('product', {
      productInfo: 'getInfo',
      getAll: 'getProduct',
    }),
  },
};
</script>
