<template>
  <div>
    <input
      type="text"
      v-model="name"
      @input="changeName"><br />
    {{ storeName }}
    <hr>
    <button
      type="button"
      @click="fetchUsers"
     > Dapatkan Semua Users
    </button>
     <hr>
     <ul>
       <li v-for="(list, i) in listUser" :key="i">
         {{ list.name }}
       </li>
     </ul>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

export default {
  name: 'HelloWorld',
  data() {
    return {
      name: '',
    };
  },
  methods: {
    // ...mapMutations([
    //   'setName',
    // ]),
    ...mapMutations({
      updateName: 'setName',
    }),
    // ...mapActions([
    //   'fetchUserList',
    // ]),
    ...mapActions({
      loadUser: 'fetchUserList',
    }),
    changeName() {
      // this.$store.commit('setName', this.name);
      // this.setName(this.name);
      this.updateName(this.name);
    },
    fetchUsers() {
      // this.$store.dispatch('fetchUserList');
      // this.fetchUserList();
      this.loadUser();
    },
  },
  computed: {
    // ...mapGetters([
    //   'getName',
    //   'getusers',
    // ]),
    ...mapGetters({
      storeName: 'getName',
      listUser: 'getUsers',
    }),
  },
};
</script>
